<h1>NutritionPal</h1> 

<ul class="card">
  <li>
    <input type="checkbox" name=""/>
    <a href="show.html">Create Recipe</a>
    <span class="pomodoro-estimate">4 Pomodoros</span>
  </li>
  <li>
    <input type="checkbox" name=""/>
    Select Recipe
    <span class="pomodoro-estimate">3 Pomodoros</span>
  </li>
  </ul>

<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Create Recipe"
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Amount"
  <input class="button" id="add-new-todo-button" type="submit" value="Add"
</div>

